* {
   margin: 0; 
    box-sizing: border-box;
 }

body {
    background-color: red;
    background-image: url('images/coffee-206142_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 15px 0 0 35px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    min-height: 100vh;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header {
    overflow: hidden;
    z-index: 2;
    position: relative;
}
.nav {
    float: left;
}
.nav ul  {
    padding: 0;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.nav li a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 18px;
}
.nav li a:hover {
    color: #c9c9c9;
}

.nav-right {
    float: right;
}
.btn-login {
    background-color: #AD7D5C;
    color: white;
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 10px;
    display: inline-block;
}

.container {
    padding-top: 100px;
    z-index: 2;
    position: relative;
}

.title {
    color: #66422B;
    margin-bottom: 20px;
}
.subtitle {
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
    display: inline-block;
}
.info {
    position: relative;
}
.description {
    color: white;
    width: 500px;
    margin-bottom: 50px;
}

.btn-order {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 7px 18px;
    border-radius: 10px;
    display: inline-block;
}
.btn-order:hover {
    background-color: #00000040;
}
.products {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 50px;
}
.card {
    width: 250px;
    float: left;
    margin-left: 20px;
}
.card-head {
    background-image: url('images/coffee-4618705_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card-body {
    background-color: white;
    padding: 10px 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card-title {
    color: #66422B;
    text-align: center;
    margin-bottom: 8px;
}
.card-content {
    color: #47362C;
    margin-bottom: 10px;
}
.read-more {
    color: #66422B;
    text-decoration: none;
    display: block;
    text-align: right;
}

