 
* {
   margin: 0; 
    box-sizing: border-box;
 }

body {
    background-color: red;
    background-image: url('images/coffee-206142_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 25px 55px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    min-height: 100vh;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header {
    display: flex;
    z-index: 2;
    position: relative;
    justify-content: space-between;
}

.nav-left {
    display: flex;
}
.nav-left input[type="checkbox"] {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    display: none;    
}
.nav-left i {
    color: #ffffff;
    font-size: 45px;
    display: none;
}

.nav-left ul {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.nav-left a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 18px;
}

.nav-left a:hover {
    color: #c9c9c9;
}
.btn-login {
    background-color: #AD7D5C;
    color: white;
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 10px;
    display: inline-block;
}

.container {
    margin-top: 100px;
    z-index: 2;
    position: relative;
}
.title {
    color: #66422B;
    margin-bottom: 20px;
}
.subtitle {
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
}

.description {
    color: white;
    width: 500px;
    margin-bottom: 50px;
}

.btn-order {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 7px 18px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 25px;
    align-self: flex-start;
}
.btn-order:hover {
    background-color: #00000040;
}

.products {
    /*overflow: hidden;
    position: absolute;
    top: 0;
    right: 50px;*/
    display: flex;
    column-gap: 20px;
    align-self: flex-end;
    margin-top: -185px;
}

.card {
    width: 250px;
    display: flex;
    flex-direction: column;
}
.card-head {
    background-image: url('images/coffee-4618705_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card-body {
    background-color: white;
    padding: 10px 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card-title {
    color: #66422B;
    text-align: center;
    margin-bottom: 8px;
}
.card-content {
    color: #47362C;
    margin-bottom: 10px;
}
.read-more {
    color: #66422B;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

@media screen and (max-width: 1390px) {
    .description {
        width: 100%;
    }

    .products {
        margin-top: -60px;
    }
}

@media screen and (max-width: 1079px) {
    .products {
        margin-top: 0;
        align-self: self-start;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

@media screen and (max-width: 629px) {
    body {
        padding-left: 25px;
        padding-right: 25px;
    }
    .products {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 300px;
    }
}

@media screen and (max-width: 575px) {
    .nav-left input[type='checkbox'] {
        display: inline-block;
        opacity: 0;

    }
    .nav-left i {
        display: inline-block;
    }
    .nav-left ul {
        flex-direction: column;
        row-gap: 15px;
        display: none;
        margin-top: 46px;
    }
    .nav-left input[type="checkbox"]:checked ~ ul {
        display: block;
    }
}
